<!DOCTYPE html>
<html>
{% load staticfiles %}
<body>
<div align="center" style="background-color:#ccc;">
    <h1>College Information</h1>
</div>

<div align="center" style="background-color:powderblue;">
    <form id="formid" method="POST">
        {% csrf_token%}
      <table>
             <tr>
                 <td>College Name</td>
                 <td><input name="college_Name" id="college_Name" type="text"></td>
             </tr>

             <tr>
                 <td>Street</td>
                 <td><input name="street" id="street" type="text"></td>
             </tr>

             <tr>
                 <td>City</td>
                 <td><input name="city" id="city" type="text"> </td>
             </tr>
      </table>
</div>
<br>
        <div  align="center" style="background-color:#777;">
             <input style="background-color:green" type="button" value="submit" name="submit" onclick="college_save1();">
             <button style="background-color:powderblue" type="reset" value="Reset">Reset</button>
             <a href="/"><button type="button" style="background-color:red">cancel</button></a>
        </div>

    </form>
</body>
</html>


<script src="{%static 'jquery.min.js' %}" type="text/javascript"></script>
<script src="{%static 'collegeapp/college_save.js' %}" type="text/javascript"></script>
