<!DOCTYPE html>
<html>
<body>
    <div align="center" style="background-color:#ccc" >
        <h2>Information</h2>
    </div>

    <div align="center" style="background-color:powderblue" >

        <button type="button" onclick="location.href='/studentapp/studentform/'">Add New Student</button>
        <button type="button" onclick="location.href='/collegeapp/collegeform/'">Add New College</button>
        <button type="button" onclick="location.href='/datatable/'">Check Student Data</button>
    </div>
</body>
</html>